    <div class="content-wrapper">
    <div class="container-fluid">

      <!--Start Dashboard Content-->
        <div class="row">
          <div class="col-12 col-lg-12 col-xl-12">
              <div class="card border-secondary" style="margin-bottom: 5px;">
                <div class="card-body" style="padding: 15px;text-align: center;text-transform: uppercase;">
                    <h4>Allocation</h4>    
                    <!--<h4>{{Attributes}}</h4>-->
                </div>
            </div>
          </div>
        </div>

    
        <div class="row" id="loadedDiv">       
        
        </div>
      
      <!--End Row-->		  
  
    <!-- End container-fluid-->
    <div class="container-fluid" style="height: 100px;">
  
    </div>

  