    <div class="content-wrapper">
    <div class="container-fluid">

      <!--Start Dashboard Content-->
      <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card" style="margin-bottom: 5px;">
              <div class="card-body topheader">
                  <h4>Asset Design</h4>   
              </div>
          </div>
        </div>
      </div>
      
      <div class="row">
          <div class="col-12 col-lg-6 col-xl-6">
          <div class="card">
            <div class="card-body">
                <div class="form-group">
                     <span class="slect">
                           <label>Select Template :</label>
                      </span>
                      <span class="slectBox">
                          <select ng-change="check()" id="elementTemplatesLeft" style="width: 90%;" class="form-control" ng-model="cardSelected">
                              <option value="" selected="" disabled="">---Select Element Template---</option>
                     </select> 
                     </span>                        
                </div>
                
            </div>
          </div>
        </div>
       
          <div class="col-12 col-lg-6 col-xl-6">
          <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <span class="slect">
                           <label>Select Elements :</label>
                      </span>
                      <span class="slectBox">
                          <select ng-change="check()" id="elementTemplatesRight" style="width: 90%;" class="form-control" ng-model="cardSelected">
                        <option value="">---Select Elements---</option>
                     </select> 
                     </span>                
                </div>
                
            </div>
          </div>
        </div>
          
        <div class="col-12 col-lg-6 col-xl-5">
          <div class="card">
            <div class="card-body assetList scrollbar" id="style-1">
                <ul id="elementListLeft"></ul> 
            </div>
          </div>
        </div>
          <div class="col-12 col-lg-6 col-xl-2">
          <div class="card">
            <div class="card-body assetList">
                <button class="splitter btn btn-primary" id="shiftRight"><i class="ti-control-forward"></i></button>                    
                <button class="splitter btn btn-primary" id="shiftLeft"><i class="ti-control-backward"></i></button>
            </div>
          </div>
        </div>
          <div class="col-12 col-lg-6 col-xl-5">
          <div class="card">
            <div class="card-body assetList scrollbar" id="style-2">
                <ul id="elementListRight"></ul> 
            </div>
          </div>
        </div>
          <div class="col-12 col-lg-12 col-xl-12" style="margin-top: -25px;">
          <div class="card">
            <div class="card-body">                
                <button class="btn btn-primary" id="buildElementReference"><i class="ti-save"></i> Save</button>
            </div>
          </div>
        </div>
      </div>
      
      <!--End Row-->		  
      
       <!--End Dashboard Content-->
       
    </div>
    <!-- End container-fluid-->
    <div class="container-fluid" style="margin-top: 0px;">
  
    </div>
    </div>

  