  <div class="content-wrapper">
    <div class="container-fluid">

      <!--Start Dashboard Content-->
      <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card" style="margin-bottom: 5px;">
              <div class="card-body topheader">
                  <h4>Dashboard and Maps</h4>
              </div>
          </div>
        </div>
      </div>
      
      <div class="row mt-3">
        <div class="col-12 col-lg-6 col-xl-3">
            <a href="#">
                <div class="card" >
                    <div class="card-body">
                      <div class="media">
                      <div class="media-body text-left">
                        <h4 class="text-danger">Master</h4>
                        <h4 class="text-danger">Dashboard</h4>
                      </div>
                      <div class="align-self-center w-circle-icon  gradient-bloody">
                        <i class="ti-view-grid text-white"></i></div>
                    </div>
                    </div>
                  </div>
            </a>
        </div>
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="media">
               <div class="media-body text-left">
                <h4 class="text-info">Field</h4>
                <h4 class="text-info">Map</h4>
              </div>
               <div class="align-self-center w-circle-icon gradient-scooter">
                <i class="ti-map-alt text-white"></i></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="media">
              <div class="media-body text-left">
                <h4 class="text-success">Comparison</h4>
                <h4 class="text-success">Map</h4>
              </div>
              <div class="align-self-center w-circle-icon gradient-quepal">
                <i class="ti-map text-white"></i></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="media">
              <div class="media-body text-left">
                 <h4 class="text-warning">Ranking</h4>
                <h4 class="text-warning"></h4>
              </div>
              <div class="align-self-center w-circle-icon  gradient-blooker">
                <i class="ti-menu-alt text-white"></i></div>
            </div>
            </div>
          </div>
        </div>
      </div>
      
       <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card" style="margin-bottom: 5px;">
              <div class="card-body topheader">
                  <h4>Data Inputs</h4>
              </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="media">
              <div class="media-body text-left">
                 <h4 class="text-warning">Flow</h4>
                <h4 class="text-warning"></h4>
              </div>
              <div class="align-self-center w-circle-icon gradient-scooter">
                <i class="ti-pulse text-white"></i></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="media">
               <div class="media-body text-left">
               <h4 class="text-danger">Asset</h4>
                <h4 class="text-danger">Design</h4>
              </div>
               <div class="align-self-center w-circle-icon gradient-bloody">
                <i class="ti-palette text-white"></i></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="media">
              <div class="media-body text-left">
                <h4 class="text-success">Events</h4>
                <h4 class="text-success"></h4>
              </div>
              <div class="align-self-center w-circle-icon gradient-quepal">
                <i class="ti-bell text-white"></i></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="media">
              <div class="media-body text-left">
                <h4 class="text-warning">Allocation</h4>
                <h4 class="text-warning">XY</h4>
              </div>
              <div class="align-self-center w-circle-icon  gradient-blooker">
                <i class="ti-bar-chart-alt text-white"></i></div>
            </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--End Row-->		  
      
       <!--End Dashboard Content-->
       
    </div>
    <!-- End container-fluid-->
    <div class="container-fluid" style="margin-top: 50px;">
  
    </div>
    </div>



 
