    <div class="content-wrapper">
    <div class="container-fluid">

      <!--Start Dashboard Content-->
      <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="card border-secondary border-left-sm" style="margin-bottom: 5px;">
              <div class="card-body" style="padding: 15px;text-align: center;text-transform: uppercase;">
                  <h4 style="color: #212529;">Master Dashboard</h4>    
                  <h5>{{name}}</h5>
              </div>
          </div>
        </div>
      </div>
      
     
      <!--End Row-->		  
      
       <!--End Dashboard Content-->
       
    </div>
    <!-- End container-fluid-->
    <div class="container-fluid" style="margin-top: 50px;">
  
    </div>
    </div>

  