.canvasjs-chart-credit {
    display: none;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    overflow: auto;
}
.cardpadding{   
    padding-top: 20px;
    padding-bottom: 20px;
}
.assetList{
    height: 500px;
    padding: 20px;
    margin: 2px 0px 2px 0px;
}
.attributesList{
    height: 550px;
    padding: 20px;
    margin: 2px 0px 2px 0px;
}

.chartDiv{
    width: 100%;
    height: 550px;
    padding: 20px;
    margin: 2px 0px 2px 0px;
}
.chartContainer{
    width: 100%;
    height: 460px;
    border:1px solid #ccc;
}
.attributesTable{
    margin-top: -3px;
}
.splitter{
    width: 80%;
    margin: 50% 10% 10% 10%;
    font-size: x-large;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 1.3em;
}
.content-wrapper {
    height: 950px;
    max-height: 950px;
}
.elemList{
    padding: 0px;
    width: 100%;
}
.elemRightList {
        padding: 0px;
        width: 100%;
}

.subelemList{
       margin-left: 10% !important;
       width: 90%;
       padding: 0px;
}
.labelList{
     width: 100%;
     height: 45px !important;
     font-size: medium;
     text-align: left;
     padding: 7px 0px 0px 45px !important;
     text-transform: none;
     margin-bottom: 5px !important;
}
.paramterList{
    padding: 0px;
    width: 100%;
    height: 40px;
    margin: 0px 0px 10px 0px;
    box-shadow: 1px 1px 1px 0px #6c757d;
    background-color: #dee2e6;
}
.leftLabel{
}
.rightLabel{
}
.childLabel{
}
input[type=radio]:checked ~ .check::before{
  background: #223035;
}
input[type=checkbox]:checked ~ .check::before{
  background: #223035;
}
input[type=radio]:checked ~ label{
  color: #ffffff;
  font-weight: bold;
}
input[type=checkbox]:checked ~ label{
  color: #212529;
  font-weight: bold;
}
.scrollbar {
    float: left;
}

body::-webkit-scrollbar,#style-1::-webkit-scrollbar,#style-2::-webkit-scrollbar,#style-3::-webkit-scrollbar,.content-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
body::-webkit-scrollbar-thumb{
    background-color: #008cffc2;
}
.content-wrapper::-webkit-scrollbar-thumb{
    background-color: #008cffc2;
}
#style-1::-webkit-scrollbar-thumb {
    background-color: #008cffc2;
}
#style-2::-webkit-scrollbar-thumb  {
    background-color: #15ca20ad;
}
#style-3  {
    height: 220px;
}
#style-3::-webkit-scrollbar-thumb  {
    background-color: #008cffc2;
}
body::-webkit-scrollbar-track,#style-1::-webkit-scrollbar-track,#style-2::-webkit-scrollbar-track,#style-3::-webkit-scrollbar-track,.content-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
#attributesTable::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
#attributesTable::-webkit-scrollbar-thumb{
    background-color: #008cffc2;
}
#attributesTable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
[type=checkbox]+label:before, [type=checkbox]:not(.filled-in)+label:after{
    margin-top: 10px;
    margin-left: 10px;
}
.slect{
    text-align: center;
    width: 40%;
    float: left;
    margin-top: 2%;
}
.slectBox{
    text-align: center;
    width: 60%;
    float: left;
}
.slect30{
   text-align: center;
    width: 30%;
    float: left;
    margin-top: 2%; 
}
.slect40{
    text-align: center;
    width: 40%;
    float: left;
}
.slect50{
    text-align: center;
    width: 50%;
    float: left;
}
.slect60{
    text-align: center;
    width: 60%;
    float: left;
}
.slect70{
     text-align: center;
    width: 70%;
    float: left;
}
.slectBox70{
    text-align: center;
    width: 70%;
    float: left;
}
#buildElementReference{
    float: right;
    height: 55px;
    font-size: 15px;
    width: 10%;
}
.topheader{
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}
.wd100{
    width:100%;
}
.iframeMap{
    border:1px solid #ccc;
    width:100%;
    height:280px;
}
.AtName{
    
}
.AtVal{
    border: 1px solid #f8f9fa;
}
.AtTime{
    border: 1px solid #f8f9fa;
}
.tableAttributes td, .tableAttributes th {
    padding: 0.40rem;
    font-size: 13px;
}
.highcharts-credits{
    display: none;
}